{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "modules": false,
                "loose": false
            }
        ]
    ],
    "plugins": [
        "babel-plugin-myPlugin",
        "@babel/plugin-transform-runtime",
        "transform-class-properties"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}